<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

    </style>
</head>
<div id="app">
    {{ message }}
</div>
<div id="app-2">
    <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的信息
    </span>
</div>
<div id="app-3">
    <p v-if="seen">你现在看见我了</p>
</div>
<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
<!--绑定事件监听-->
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>
<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message"/>
</div>
<!--组件-->
<div id="app-7">
    <ol>
        <!--创建一个todo-items的组件实例-->
        <!-- 现在我们为每个todo-item提供待办项对象    -->
        <!-- 待办项对象是变量，即其内容可以是动态的 -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>
</div>
<!--计算属性-->
<div id="example">
    <p>oriaional message {{ message }}</p>
    <p>couputed reversed message {{ reversedMessage }}</p>
</div>
<!--computed属性 vs watch属性-->
<div id="demo1"> {{ fullName }} </div>
<div id="demo2"> {{ fullName }} </div>
<div id="demo3"> {{ fullName }} </div>

<!-- watchers -->
<div id="watch-example">
    <p>
        告诉你一个问题的 是或否
        <input v-model="question"/>
    </p>
    <p>{{ answer }}</p>
</div>

<!--绑定html样式-->
<div v-bind:class="classObject"></div>

<!--条件渲染-->
<h1 v-if="ok">yes</h1>
<h1 v-else>No</h1>

<!--条件组-->
<template v-if="ok">
    <h1>页1</h1>
    <p>行1</p>
    <p>行2</p>
</template>

<div v-if="Math.random() > 0.5">
    你能看见
</div>
<div v-else>
    你看不见
</div>

<div id="counter">
    <button v-on:click="counter += 1">增加1</button>
    <p>这个按钮被点击了 {{ counter }}  次</p>
</div>

<div id="greetVm">
    <button v-on:click="greet">greet</button>
</div>

<p></p>
<div id="sayVm">
    <button v-on:click="say('你')">你</button>
    <button v-on:click="say('好')">好</button>
</div>
<p></p>

<!--内联语句处理器中处理原生dom事件-->
<div id="eventVm">
    <button v-on:click="warn('不能提交表单', $event)">submit</button>
</div>

<!--阻止事件冒泡-->
<a v-on:click.stop="doThis"></a>

<!--提交事件不再重载页面-->
<from v-on:submit.prevent="onSubmit"></from>

<!--修饰符可以串联-->
<a v-on:click.stop.prevent="doThat"></a>

<!--只有修饰符-->
<a v-on:click.stop></a>

<!--添加事件监听器时使用事件捕获模式-->
<div v-on:click.captrue="doThis"></div>

<!--只当事件在该元素本身（而不是子元素）触发时触发回调-->
<div v-on:click.self="doThat"></div>

<!--点击事件只会触发一次-->
<a v-on:click.once="doThis"></a>

<!--只有在keyCode是13时执行submit-->
<a v-on:keyup.13="submit"></a>

<pre>
按键别名 全局 config.keyCodes 对象自定义按键修饰符别名：
.enter
.tab
.delete (捕获 “删除” 和 “退格” 键)
.esc
.space
.up
.down
.left
.right
</pre>

<pre>
可以用如下修饰符开启鼠标或键盘事件监听，使在按键按下时发生响应。
.ctrl
.alt
.shift
.meta
</pre>
<!--双向数据绑定-->
<input v-model="message" palceholder="编辑 我">
<p> message is {{ message }}</p>

<pre>
组件 全局组件
Vue.component('my-component', {
    //选项
});
</pre>

<div id="counter-event-example">
    <p>{{ total }}</p>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
</div>
<p></p>
<!--监控原生事件-->
<my-component v-on:click.native="doTheThing"></my-component>

<input v-model="something">

<input v-bind:value="something" v-on:input="something = $event.target.value">

<custom-input v-bind:value="something" v-on:input="something = arguments[0]"></custom-input>

<p></p>
<!--货币输入的控件-->
<currency-input v-model="price"></currency-input>

</body>

<script src="vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script src="test.js"></script>
</html>